plan/
docs/
data/

.env
.venv
__pycache__
*.pyc
.pytest_cache
localstack_data
postgres_data
*.log

*.py[cod]
*.mo
/venv
.env
.env.production
.env.devtest
.DS_Store
._*
.mypy_cache
local_settings.py
.vscode/*
!.vscode/settings.json
.idea/
geo
geo/
logfile.log
.data
.coverage
.eslintrc.json
coverage.xml
.prettierrc.json
setup.cfg
.vscode
localstack-data/
scripts/
*.egg-info